<html>
	<body>
		<head>
			<link rel="stylesheet" type="text/css" href="/css/reset.css">
			<link rel="stylesheet" type="text/css" href="/css/thermostat.css">
		</head>

		<title>
			Thermostat
		</title>

		<section class="outside_temp">
			<h1>Weather in London:</h1>
			<h2></h2>
		</section>

		<section class='thermostat'>
			<h1>20</h1>
				<h2>Power saver on</h2>
				<div id="temp_buttons">
					<a href='#' class='increase_temp'>+</a>
					<a href='#' class='decrease_temp'>-</a>
				</div>
						</br>
					<a href='#' class='reset_temp'>Reset</a>
						</br>
					<a href='#' class='power_saver_off'>Power saver off</a>
						</br>
					<a href='#' class='power_saver_on'>Power saver on</a>

			</section>

			<script src="/js/jquery.js"></script>
			<script src="/js/thermostat.js"></script>
			<script src="/js/interface.js"></script>
	</body>
</html>